.primaryButton {
    background-color: #010101;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 200px !important;
    color: #E6E6E6;
    text-decoration: none;
    font-family: "Roboto", "sans-serif";
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer;
}

.primaryButton:hover {
    background-color: #E6E6E6; /* Change background color on hover */
    color: #010101; /* Change text color on hover */
}

.primaryButton:active {
    background-color: #333333; /* Change background color on active */
    color: #FFFFFF; /* Change text color on active */
}